*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "RocknRoll One", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #29344b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

input {
  width: 250px;
  padding: 0.5em;
  font-family: inherit;
}

/* BUTTONS */

.btn {
  display: block;
  margin: auto;
  border: none;
  padding: 1em 2.4em;
  border-radius: 3px;
  outline: none;
  text-align: center;
  font-family: inherit;
}

.stopBtn {
  display: none;
}

.btn:active {
  transform: scale(0.98);
}

.color-display {
  width: 700px;
  height: 450px;
  transition: all 1s ease;
  border: 2px dotted white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  width: 350px;
  height: 200px;
  background-color: brown;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  transform: scale(0);
}

.display-alert {
  transform: scale(1);
}

.main-title {
  text-align: center;
  margin-bottom: 2em;
}

.color-codes-container {
  display: flex;
  flex-direction: column;
}

.color-group {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.arrow-icon {
  align-self: flex-end;
  margin-bottom: 5px;
}

.interval-group {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}

.color-codes-form {
  margin-bottom: 10em;
}
